/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.flex {
    display: flex;
}


.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: aliceblue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;

}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 16px rgb(204, 210, 214);
    transform: scale(1.05);
}


h2.titulo {
    color: aliceblue;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: rgb(31, 64, 247)
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(143, 143, 143);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO MENU MOBILE */

.btn-menu i{
    color:rgb(31, 64, 247);
    font-size: 50px;
}
.btn-menu{
    display: none;
}



.menu-mobile{
    background-color: #000;
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;

}

.menu-mobile nav ul li a:hover{
    background-color:rgb(31, 64, 247);
    color: #000;

}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}


.menu-mobile .btn-fechar i{
    color:rgb(31, 64, 247);
    font-size: 30px;
    font-weight: 300;
}

.overlay-menu{
    background-color: #000000ad ;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ESTILO TOPO SITE */

section.topo-do-site {
    padding: 40px;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: aliceblue;
    font-size: 36px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span {
    color: aliceblue;
}

.topo-do-site .txt-topo-site p {
    color: aliceblue;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.img-topo-site {
    text-align: center;
}




@keyframes flutuar {
    0% {
        top: 0px;
        ;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO ESPECIALIDADES */

section.especialidades {
    padding: 40px 3%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: aliceblue;
    padding: 40px 2%;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.especialidades .especialidades-box p {
    text-align: center;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(240, 248, 255, 0.349);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: rgb(31, 64, 247);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */
section.sobre {
    padding: 80px 4%;
}


section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: aliceblue;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: rgb(31, 64, 247);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .imagem-sobre {
    border-radius: 100%;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: aliceblue;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO PORTIFÓLIO */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(240, 248, 255, 0.144);
}

section.portifolio .flex {
    gap: 80px;
    justify-content: space-around;
}

.img-port {
    margin-top: 80px;
    padding: auto;
    width: 500px;
    height: 350px;
    background-color: aliceblue;
    background-size: cover;
    background-position: 100% 0%;
    transition: opacity 0.3s ease;
    /* Transição suave de opacidade */
    cursor: pointer;
}

/* ESTILO FORMULÁRIO DE CONTATO */

section.formulario {
    padding: 80px 4%;

}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #252525a9;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
    min-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: rgb(31, 64, 247);
    color: #000;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(240, 248, 255, 0.144);
}

footer img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-width: 200px;
}

footer .flex {
    justify-content: space-between;

}

footer .line-footer {
    padding: 25px;
}

.borda {
    border-top: 2px solid aliceblue;
}


footer .line-footer p i {
    color: rgb(31, 64, 247);
    font-size: 30px;
}

footer .line-footer p a {
    color: aliceblue
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

@media screen and (max-width:1230px) {

    .container {
          flex-direction: row;
        }

    /* CLASSES GERAIS */
    .flex {
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    h2.titulo {
        color: aliceblue;
        font-size: 34px;
        text-align: center;
        line-height: 40px;
    }

    body{
        margin: 0 10px;
    }

    .container{
        width: 100%
    }
   

    /* CABEÇALHO */

    .menu-mobile{
        padding: auto;
        margin:0
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .btn-menu{
        display: block;
    }

    /* TOPO SITE */

    img.topo-do-site{
        width: 80%;
    }
    
    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .interface .flex .img-topo-site {
        display: block;
        align-items: center;
        margin: 0 auto;
    }

    


    .img-topo-site img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        transform: translateX(-0%);
        margin-bottom: 40px;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 20px 8%;
    }


    /* ESTILO ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
    }


    /* ESTILO SOBRE */

    section.sobre .flex{
        flex-direction: column-reverse;
    }

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .imagem-sobre {
            width: 100%;
            justify-content: space-between;
        }

    .btn-social{
            text-align: center;
        }


    /* PORTIFÓLIO */

    section.portifolio{
        padding: 80px 8%;
        align-items: center;
        text-align: center;
        display: flex;
        box-shadow: none;
    }


    .img-port {
        margin-top: 20px;
        /* Ajuste conforme necessário */
        width: 100%;

        max-width: 360px;
        /* Define a largura da caixa */
        height: 300px;
        /* Define a altura da caixa */
        background-color: aliceblue;
        background-image: url('images/curso_pedro_page-0001.jpg');
        
        background-size: contain;
        /* Redimensiona a imagem para que caiba dentro da caixa */
        background-position: center;
        /* Centraliza a imagem */
        background-repeat: no-repeat;
        /* Evita repetição da imagem */
        transition: opacity 0.3s ease;
        /* Transição suave de opacidade */
        cursor: pointer;
        border: none;
        border-radius: 5%;
        align-items: center;
        justify-content: center;
    }

    /* RODAPÉ */
    footer{
        box-shadow: none;
    }

    footer.flex{
        flex-direction: column;
        box-shadow: none;
    }

    footer.line-footer{
        text-align: center;
        
    }

}